*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 1.05rem;
    font-weight: 400;
}

#mobile-wrapper{
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

/* De făcut ceva cu astea */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Navbar style */
.bookmark-logo{
    margin: 15px 32px;
}
.nav-items{
    list-style-type: none;
    float: right;
}

.nav-item{
    text-decoration: none;
    display: inline-block;
    padding: 15px 32px;
}

.nav-link{
    color: hsl(229, 8%, 60%);
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.nav-link:hover{
    color: hsl(0, 94%, 66%);
}

.login-button{
    background-color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
    border-radius: 8px;
    box-shadow: 4px 4px 4px 1px rgb(233, 233, 233);
    box-sizing: border-box;
    color: #fff;
    padding: 8px 32px;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.login-button:hover{
    background-color: #fff;
    color: hsl(0, 94%, 66%);
}

/* Navbar style for mobile */
.navbar-mobile{
    background-color: hsl(229, 31%, 21%);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    opacity: 95%;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    transition-duration: 0.4s;
}

.nav-items-mobile{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
    width: 100%;
}

.nav-item-mobile{
    margin: 15px;
    text-align: center;
    width: 80%;
}

.nav-link-mobile{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.solid-separator{
    border-top: 1px solid #fff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 80%;
}

.login-button-mobile{
    background-color: hsl(229, 31%, 21%);
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 7px;
    width: 100%;
}

.fas{
    color: #FFF;
    position: absolute;
    right: 35px;
    top: 15px;
}

.hamburger-button{
    display: none;
    height: 15px;
    width: 32px;
    position: absolute;
    right: 16px;
    top: 15px;
}

.hamburger-line{
    background-color: hsl(229, 31%, 21%);
    height: 4px;
    margin: 5px;
    width: 100%;
}

.navbar-slide{
    transform: translateX(0);
}

@media screen and (max-width: 808px){
    .hamburger-button{
        display: block;
    }

    .nav-items{
        display: none;
    }

    .bookmark-logo{
        margin: 16px;
    }
}